<!doctype html>
<head>
  <title>GRH Survey Tracker</title>

  <link rel="stylesheet" href="css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <div id="surveys-app">

    <div id="block-while-loading"
      :class='{ visible: !!contentLoading }'
    >
      <div class="spinner-border text-primary" role="status">
        <!-- <span class="visually-hidden">Loading...</span> -->
      </div>

      <div> {{ loadingMessage }} </div>
    </div>

    <div id="notifications-area">
      <div class="notify"
        v-for='x in notifications'
        :class='{ success: !x.isError }'
      >
      
        <div v-if='x.isError'>
          Error! ({{ x.status }})
        </div>
        <div v-else>
          Success!
        </div>

        <div>
          {{ x.msg }}
        </div>

      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">GRH Survey Tracker</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">
                Settings
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Survey Name</th>
          <th>Survey ID</th>
          <th>Subject Phone #</th>
          <th>Notes (optional)</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='(s,si) in surveys'>
          <td>
            <label>
              {{ si+1 }}
            </label>

            <button type='button' class='btn btn-outline-danger btn-sm'
              :title='`Untrack survey #${si+1} (${s.qualtricsId})`'
              @click='untrackSurvey(s.survey_id)'
            >
              &times;
            </button>
          </td>
          <td> {{ s.survey_name }} </td>
          <td> {{ s.survey_id }} </td>
          <td> {{ s.subject_tel }} </td>
          <td> {{ s.subject_id }} </td>
        </tr>

        <tr>
          <td>
            {{ surveys.length+1 }}
          </td>

          <td>
            <button type='button' class='btn btn-outline-success btn-sm'
              @click.once='trackNewSurvey()'
            >
              Track
            </button>
          </td>

          <td>
            <input type="text" v-model='newSurvey.qualtricsId'>
          </td>

          <td>
            <input type="text"
              v-model='newSurvey.subjectPhone'
              @input='validateNewPhone()'
            >
          </td>

          <td>
            <input type="text" v-model='newSurvey.notes'>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const APP = new Vue({
  el: '#surveys-app',
  data: {
    surveys: [],

    newSurvey: {
      // qualtricsId: '',
      // subjectPhone: '',
      // notes: ''
    },

    settings: {

    },

    contentLoading: false,
    loadingMessage: 'Loading surveys...',

    notifications: [{
      status: '',
      msg: ''
    }]
  },
  methods: {
    async refresh() {
      this.contentLoading = true;

      const res = await axios.get('/api/surveys');
      const { surveys } = res.data;

      this.surveys = surveys;

      this.contentLoading = false;
    },

    async untrackSurvey(surveyId) {
      this.contentLoading = true;
      this.loadingMessage = 'Untracking survey...';

      const data = {
        SurveyId: surveyId
      };

      try {
        await axios.delete('/api/surveys', { data });
        await this.refresh();
      }
      catch (e) {
        console.error(e);
      }
    },

    async trackNewSurvey() {
      this.contentLoading = true;
      this.loadingMessage = 'Tracking new survey...';

      const { qualtricsId, subjectPhone, notes } = this.newSurvey;
      const data = {
        SurveyId: qualtricsId,
        SubjectTel: subjectPhone,
        SubjectId: notes
      };

      try {
        await axios.put('/api/surveys', data);
        await this.refresh();

        this.newSurvey = {};
      }
      catch (e) {
        console.error(e);
      }

      this.contentLoading = false;
    },

    /**
     * Used to validate phone number on input.
     * */
    validateNewPhone() {
      let phone = this.newSurvey.subjectPhone.replace(/[^0-9]/g, '');

      if (phone.length > 0 && phone.length <= 3) {
        phone = '(' + phone;
      }
      else if ( phone.length > 3 && phone.length <= 6 ) {
        phone = `(${phone.substring(0,3)})${phone.substring(3,6)}`;
      }
      else if ( phone.length > 6 ) {
        phone = `(${phone.substring(0,3)})${phone.substring(3,6)}-${phone.substring(6,10)}`;
      }
      
      this.newSurvey.subjectPhone = phone;
    }
  },
  mounted() {
    this.refresh();
  }
});
</script>
</body>
