<%# options.ejs
  #
  # draw a page with app settings
%>

<!doctype html>
<head>
  <title>Survey Tracker - Settings</title>

  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- NAVBAR GOES HERE -->
  <% include ./ejs_partials/navbar.ejs %>

  <div id="main">
    <div class="settings-parent">
      <div class="settings-table">
        <div class="setting-container">
          <div class="setting-row">
            <span>
              Automatically stop tracking inactive surveys
            </span>
            <input id="remove-inactive" type="checkbox"
              <%if (locals.RemoveInactive == true) { %> checked <% } %>
            >
          </div>
        </div>

        <div class="setting-container">
          <div class="setting-row">
            <span>Check surveys for responses every</span>
            <span>
                <input id="poll-interval" type="number" step="5" style="width:4em;" min="10"
                  value="<%-locals.PollInterval%>"
                >
                min.
            </span>
          </div>
        </div>

        <!-- Progress SMS schedule -->
        <div class="setting-container">
          <div class="setting-row">
            <span>Only track surveys on the following days:</span>
          </div>

          <div class="setting-subrow schedule-row">
            <div>
              <label for="M">M</label>
              <input id="M" type="checkbox">
            </div>

            <div>
              <label for="T">T</label>
              <input id="T" type="checkbox">
            </div>

            <div>
              <label for="W">W</label>
              <input id="W" type="checkbox">
            </div>

            <div>
              <label for="R">R</label>
              <input id="R" type="checkbox">
            </div>

            <div>
              <label for="F">F</label>
              <input id="F" type="checkbox">
            </div>

            <div>
              <label for="S">S</label>
              <input id="S" type="checkbox">
            </div>

            <div>
              <label for="U">U</label>
              <input id="U" type="checkbox">
            </div>
          </div>

        </div>

        <!-- SMS allowed schedule -->
        <div class="setting-container last-container">
          <div class="setting-row">
            <span>
              Only track surveys between:
            </span>
            <input id="allowed-time-toggle" type="checkbox"
              <% if (locals.RestrictSchedule == true) { %> checked <% } %>
            >
          </div>

          <div class="setting-subrow">
            <span></span>
            <div id="allowed-range"
              <% if (locals.RestrictSchedule == false) { %> class="hidden" <% } %>
            >
              <input id="allowed-time-start" type="time"
                value="<%-locals.RestrictedSchedule[0]%>"
              >
              <span>and</span>
              <input id="allowed-time-end" type="time"
                value="<%-locals.RestrictedSchedule[1]%>"
              >
            </div>
          </div>
        </div>

      </div>

      <div class="settings-actions">
        <button id="cancel-btn">Cancel</button>
        <button id="apply-btn">Apply</button>
      </div>
    </div>
  </div>

  <!-- JQUERY LIB -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- LISTENERS -->
  <script>
    // toggle allowed schedule show/hide
    $("#allowed-time-toggle").change(function() {
      if (this.checked) {
        $("#allowed-range").removeClass("hidden");
      }
      else {
        $("#allowed-range").addClass("hidden");
      }
    });

    // CANCEL BUTTON
    $("#cancel-btn").click(function() {
      location.reload();
    });

    // APPLY BUTTON
    $("#apply-btn").click(function() {
      // get all settings
      const $remove_inactive = $("#remove-inactive").is(":checked");
      const $poll_interval = $("#poll-interval").val();
      const $restricted_days = [
        $("#M").is(":checked"),
        $("#T").is(":checked"),
        $("#W").is(":checked"),
        $("#R").is(":checked"),
        $("#F").is(":checked"),
        $("#S").is(":checked"),
        $("#U").is(":checked"),
      ];
      const $is_time_restricted = $("#allowed-time-toggle").is(":checked");
      const $restricted_time = [
        $("#allowed-time-start").val(),
        $("#allowed-time-end").val()
      ];

      // send to server
      $.ajax({
        url: "/api/updateSettings",
        type: "POST",
        data: {
          RemoveInactive: $remove_inactive,
          PollInterval: $poll_interval,
          RestrictedDays: $restricted_days,
          IsTimeRestricted: $is_time_restricted,
          RestrictedTime: $restricted_time
        },
        success: function(data) {
          alert("Settings saved!");
        },
        error: function(jqXHR) {
          const resp = jqXHR.responseJSON;
          if (resp && resp.error) alert(resp.error);
          else alert("Unknown error. Try again.");
        }
      });
    });
  </script>
</body>