<%# options.ejs
  #
  # draw a page with app settings
%>

<!doctype html>
<head>
  <title>Settings</title>

  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- NAVBAR GOES HERE -->
  <% include ./ejs_partials/navbar.ejs %>

  <!-- JQUERY LIB -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
</body>