.bg-green {
  background-color: green;
  border-color: transparent;
  color: white;
}

table button.round-btn {
  border-radius: 50%;
  transition: transform 0.25s;
}

table button.round-btn:hover {
  transform: scale(1.25);
}

table button.btn-nice { border-radius: 2px; }

.align-center { text-align: center; }

td.row-status {
  min-width: 25px;
  user-select: none;
  cursor: default;
}

td.row-status.tracking { color: green; }
td.row-status.not-tracking { color: red; }

td.edit-cell { min-width:100px; }
td.surveyName-cell { min-width:100px; }

table.content-table td { text-align: center; }

/* Navbar styling */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid inherit;
  border-radius: 5px;
}

nav li { float: left; }

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:not(.active):hover {
  background-color: #ddd;
}

nav li a.active {
  background-color: #ff0000;
  color: white;
}

/* styling for all pages */
body {
  font-family: Arial, Helvetica, sans-serif;
}

div#main {
  padding: 16px;
  margin-top: 35px;
}