<nav>
  <ul>
    <li>
      <a
        href="/"
        <% if (locals.PageTitle=="HOME") { %> class="active" <% } %>
      >Home</a>
    </li>

    <li>
      <a
        href="/settings"
        <% if (locals.PageTitle=="SETTINGS") { %> class="active" <% } %>
      >Settings</a>
    </li>
  </ul>
</nav>